#root
{
    margin-left:30%;
    width:452px;
    background-color:whitesmoke;
    
}
.calcTitle
{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
    font-size:30px;
    color:green;
    border:2px solid black;
    margin-bottom:20px;
}
.outputScreen
{
    width:452px;
    background-color:#ccc;
    
}
input[type="text"]
{
    border:none;
    background-color:#ccc;
    height:40px;
    font-size:25px;
    text-align:right;
    color:black;
    width:445px;
}
.buttons
{
    width:452px;

}
input[type="button"]
{
    width:113px;
    background-color:green;
    color:black;
    margin:none;
    border:1px solid black;
    height:40px;
}
.row5
{
    margin-left:113px;
}
input[type="button"]:active
{
    background-color:#ccc;
}